body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    margin: 0;
    font-size: 2.8em;
}

h2 {
    font-size: 2em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2a2f36;
}

button {
    border: none;
    background: none;
    font-family: inherit;
}

.title {
    margin-top: 13em;
    margin-left: 11em;
    letter-spacing: 0.3em;
}

.buttons {
    display: flex;
    margin-left: 15em;
}

.button {
    margin-top: 3em;
    margin-right: 20px;
    width: 10%;
    /* background-color: white; */
    border: 3px solid white;
    padding: 5px 5px;
    border-radius: 15px;
    text-align: center;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#start_btn {
    display: none;
}
